@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2b3c4e;
}
:root {
  --primary: #7557d3;
  --text-color: #211f26;
  --sub-text-color: rgba(33, 31, 38, 0.71);
  --accent-color: #ffffff;
  --accent-color2: #fdc840;
}
.light-shadow:hover {
  box-shadow: 0px 5px 15px rgba(33, 31, 38, 0.05);
}
@layer components {
  .k-input {
    @apply appearance-none rounded py-1 px-3 border-[1.5px] hover:border-primary focus:border-primary focus:ring-2 focus:ring-primary/50;
  }
  .dis {
    @apply disabled:opacity-60 disabled:cursor-not-allowed;
  }
  .btn-purp {
    @apply bg-primary text-white hover:bg-primary2 hover:shadow-md shadow-sm rounded;
  }
}
button {
  font-family: Lato;
}
